.yellow-background {
    background-color: #e3e9e6!important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Зробить фон повноекранним */
}
  
.image-container img {
    width: 200px; /* Змініть розмір зображення за бажанням */
    height: auto;
}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}